
	img {
	  width:400;
	}
	#thirdDiv {
	  height:600;
	  width:500;
	  background-color:lime;
	  padding:50px;
	  border-color:crimson;
	  border-width:5px;"
	}
	#spanId {
	  font-size:18;
          margin:50px;
	}
